<html>

<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;">
        <div style="margin:50px auto;width:70%;padding:20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 2em;">
         
            <p style="font-size:1.1em">Dear user,</p>
            <p>We hope this message finds you well. We are writing to confirm the successful receipt of your payment for the reservation in EliJosh Resort and Event Place. We sincerely appreciate your prompt response and want to express our gratitude for choosing our resort.</p>
            <p>Your payment has been processed and your reservation is now confirmed. We are excited to welcome you and are committed to ensuring that your experience with us exceeds your expectations. </p>
            <p>Please Bring the file contained in this website, and show your Payment for Verification.</p>
            <a href="{{WEBSITE}}" target="_blank" rel="noopener noreferrer">Click Me</a>
            <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{CODE}}</h2>
   
            <p style="font-size:0.9em;text-align: end;">Sincerely,<br />Elijosh Teams</p>

            
          <hr style="border:none;border-top:1px solid #eee" />
        </div>
      </div>
</body>
</html>