<html>

<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;">
        <div style="margin:50px auto;width:70%;padding:20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 2em;">
         
            <p style="font-size:1.1em">Hi {{SENDERNAME}},</p>
            <p>I hope this email finds you well. My name is {{SENDERNAME}}, and I'm reaching out to you regarding {{SENDERSUBJECT}}.</p>
            <p>Here are my details:</p>
            <p>- Email: {{SENDEREMAIL}}</p>
            <p>- Name: {{SENDERNAME}}</p>
            <p>- Message : {{SENDERMSG}}</p>
            <br>
            <p>Looking forward to your response.</p>
            <p style="text-align: end;">Best regards,</p>
            <p style="text-align: end;">{{SENDERNAME}}</p>

          <hr style="border:none;border-top:1px solid #eee" />
        </div>
      </div>
</body>
</html>