<html>

<body>
    <div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;">
        <div style="margin:50px auto;width:70%;padding:20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;border-radius: 2em;">
         
            <p style="font-size:1.1em">Dear user,</p>
            <p>We hope this message finds you well. Our records indicate that you recently initiated a request for account verification on [Your Platform Name]. To ensure the security of your account, we kindly ask you to confirm your identity.</p>
            <p>If you initiated this request, please click on the following verification link:    <a href="{{WEBSITE}}" target="_blank" rel="noopener noreferrer">Click Me</a></p>
         
            <p>  
              By clicking the link above, you will complete the verification process, and your account will be secured. Please note that this link is valid for a limited time.
              
              If you did not initiate this request or believe it to be in error, we recommend that you do not click on the link. Instead, please contact our support team immediately at [Your Support Email or Phone Number]. We take the security of your account seriously and will investigate any unauthorized access promptly.
              
              Thank you for your prompt attention to this matter. We appreciate your cooperation in helping us maintain the highest level of security for our users.
              </p>
   
            <p style="font-size:0.9em;text-align: end;">Sincerely,<br />Elijosh Teams</p>

          <hr style="border:none;border-top:1px solid #eee" />
        </div>
      </div>
</body>
</html>