@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200;1,9..40,300&family=DM+Serif+Display&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;0,5..1200,900;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600;1,5..1200,700;1,5..1200,800;1,5..1200,900&display=swap');

:root {
    --clr-primary: #C1B086;
    --clr-neutral-200: #c2c8d0;
    --clr-neutral-300: #999;
    
    --transition: 0.2s ease;
    --br: 3px;
  }
*{
    font-family: 'Playfair', serif;
    padding: 0;
    margin: 0;
}
html,body{
    scroll-behavior: smooth;
}

.textkainit{
    font-family: 'Kanit', sans-serif;
}
ul{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
body::-webkit-scrollbar{
    width: 0px;
}

.Mainnavigation {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 300;
    background: transparent;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: .5em   ;
 
}
.Mainnavigation ul li{
    padding: .5em;
    border: 3px solid transparent;
    transition: all .3s ease-in-out;
}
.Mainnavigation  ul li a{
    font-size: .8em;
    transition: all .3s ease-in-out;
    color: #fff ;
}

.USERVALUE2  ul li a{
    color: #333 !important;
}
.Mainnavigation  ul li:hover a{
    color: #eed38d !important;
}
.USERVALUE2  ul li a{
    color: #333 !important;
}
.USERVALUE2  ul li:hover a{
    color: #fff !important;
}
.glassylink{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.359);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}


.Mainnavigation ul li:hover:not(.HOMETITLELI){
    border-bottom: 3px solid #eed38d;
}
.USERVALUE{
    position: absolute;
    top: 50%;
    right: 2%;
    translate: -50% -50%;
}
.USERVALUE svg{
    fill: #fff;
    font-size: 1.2em;
}
.USERVALUE2 svg{
    fill: #fff;
    font-size: 1.2em;
}
.USERVALUE:hover svg{
    fill: #eed38d;
    font-size: 1.2em;
}
ul li:hover:not(.HOMETITLELI) a{
    font-size: 1em;
}
.Mainnavigation  .HOMETITLE{
    font-size: 2.3em;
    transition: all .3s ease-in-out;
}
.Mainnavigation  .HOMETITLELI:hover .HOMETITLE{
    font-size: 2.5em;
}

.darktype ul li:hover:not(.HOMETITLELI){
    border-bottom: 1px solid #333;
}
.darktype ul li a{
    color:  #333;
}
.glassylink a{
    color: #333;
    fill: #333 !important;
}
.BOOKINGSECTION{
    margin-top: 3.5em;
    width: 100%;
}

.right{
    padding: 1em;
    width: 70%;
}
.right h1{
    font-size: 2em;
}
.listofchoices{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.addtocart{
    background: blue;
    width: 350px;
    height: 250px;
    position: relative;
}
.addtocart img{
    width: 100%;
    height: 100%;
}

.buttonitself{
    position: absolute;
    bottom: 10%;
    right: 25%;
}
.buttonitself button{
    border: 0;
    background: #003ee9;
    color: #fff;
    padding: .2em;
    border-radius: 10px;
}

.buttonitself button:hover{
    background: #3f9cc1;
}
.Recommentd{
    position: absolute;
    top: 0;
    background: #C1B086;
    padding: .3em;
    border-radius:5px;
}
.Recommentd svg{
    fill: #fff;
}
.curseone{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2em;
}
.curseone svg{
    fill: #fff;
}


  
footer .container{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    padding: 1em;
}

.CONTAINERSECTIONS223{
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
}
.CONTAINERSECTIONS223 h2{
    color: #fff;
}
.CONTAINERSECTIONS223 .right{
    width: 100%;
    background: #003ee98a;
    padding: 2em 0 4em 0;
}
.facilitiesview{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;

}
.facilitiesview .box{
    width: 150px;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.facilitiesview .box svg{
    width: 2em;
    height: 2em;
}



.boxtags{
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.formboxtags{
    padding: .5em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    
}

.formboxtags input{
    width: 150px;
    padding: .5em;    
}
.formboxtags select{

    width: 169px;
    padding: 1em;

}
.buttoncontianer{
    
    display: flex;
    justify-content: center;
    gap: 1em;
}
.buttoncontianer button{
    padding: .5em;
    border: 1px solid #003ee9;
    color: #003ee9;
    background: transparent;
    border-radius: 10px;
}
.buttoncontianer button:hover{
    border: 0px;
    color: #fff;
    background: #3f9cc1;

}

.containerVBox{
    padding: 1em;
    margin: 2em 0;

}
.containerVBox .virtualtourdiv{
    min-width: 300px;
    width: 60vw;
    min-height: 400px;
    height: 50dvh;
    border: 5px solid #333;
    border-radius: 20px;
    overflow: hidden;
}



.mainbodycontainer{
    padding: 0em;
}
.box{
    padding: .3em;
}
.mainbodycontainer .credentialinfo{
    justify-content: center;
}
.form-column{
    width: 150px !important;
}
.form-column select{
    padding: .5em !important;
    height: 44px;
}



.SOitemlist{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 2.5em;
    padding: 1em;
}


.SO-item input[type="checkbox"] {
    display: none;
}

.SO-item .addtocart2{
    background: blue;
    min-width: 300px;
    max-width: 500px;
    height: 250px;
    position: relative;

    border: 5px solid #C1B086;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}
.addtocart2 img{
    width: 100%;
    height: 100%;
}
.contianermain2 h1{
    font-size: 3em;
    text-align: center;
}
.addtocart2 .textareapart{
    width: 100%;
    z-index: 5;
    position: absolute;
    bottom: 0;

    background: rgba(0, 0, 0, 0.69);
    width: 100%;
    color: #fff;
    text-align: center;
}
.smallinfos{
    display: flex;
    justify-content: space-evenly;
}
.SO-item input[type="checkbox"]:checked + .addtocart2 {
    
    border-color: #003ee9 ;
    box-shadow: rgba(0, 62, 233, 0.8) 0px 5px, 
    rgba(0, 62, 233, 0.6) 0px 10px, 
    rgba(0, 62, 233, 0.4) 0px 15px, 
    rgba(0, 62, 233, 0.2) 0px 20px, 
    rgba(0, 62, 233, 0.1) 0px 25px;
}
.Inputnumbercss{
    text-align: end;
    padding: 0.3em .5em;
    border: 2px solid var(--accent);
    border-radius: .5em;
}
.SidebySideBtn{
    display: flex;
    gap: .5em;
}

.disabledthing button{
    background: var(--bg);
    fill: var(--accent);
    pointer-events: none;
}

.SRFlexandSearch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.search_sortv2{
    gap: 1em;
}

.SRReportbox{
    display: none;
}
.search_sort{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:baseline;
}
.search_sort .selection select{
    width: 10em;
    border: 1px solid #6eff6e;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;

    outline: none;
}
.Editbtn, .Deletebtn{
    background: transparent;
    border-radius: 10px;
    padding: .5em;
}

.buttonclass{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.specialboxjquery{
    display: none;
}

main{
    margin-top: 4em;
    position: relative;
}




  .levels-3{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1em;
    justify-content: space-between;

  }
  .levels-32{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1em;
    justify-content: space-between;

  }
  .levels-2{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 1em;
    justify-content: space-between;
  }


  .mainbody{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
  }

  .box2 {
    width: 75%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 150px;
    position: relative;

    background: #fff;
}
.box{
    padding: 0 1em;
    color: #fff;
}
.textshowinputs{
    background: transparent;
    border: 0;
    padding: 0 ;
    padding-right: .5em;
    border-right: 4px solid #C1B086;
    color: #C1B086;
    text-align: end;
}


.form {
    --spacing-default: 16px;
    --spacing-top: var(--spacing-default);
    --spacing-left: var(--spacing-default);
    --spacing-right: var(--spacing-default);
    --spacing-bottom: var(--spacing-default);
    --spacing-top-offset: -0.7;
    --spacing-left-offset: 0.5;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5em;

  }
  
.form-group {
    position: relative;
}

  input{
    border-radius: var(--br);
    padding: var(--spacing-top) 0;
    font: inherit;
  }

  .specials123 button[type="submit"],.specials123 button[type="button"] {
    border-radius: var(--br);
    padding: .5em;
    font: inherit;
  }
  
  input,select {
    display: block;
    width: 100%;
    border: 1px solid var(--clr-neutral-200);
    transition: var(--transition);
  }
  select{
    height: 4em;
  }
  input:focus, select:focus {
    outline: none;
    border-color: var(--clr-primary);
  }
  
  label {
    position: absolute;
    top: var(--spacing-top);
    left: var(--spacing-left);
    color: var(--clr-neutral-300);
    font-size: 16px;
    pointer-events: none;
    transition: var(--transition);
  }
  


  input:focus ~ label,
  input:valid ~ label,
  select:focus + label,
  select:valid + label {
    top: calc(var(--spacing-top) * var(--spacing-top-offset));
    left: calc(var(--spacing-left) * var(--spacing-left-offset));
    font-size: 15px;
    background-color: #fff;
    color: var(--clr-primary);
    padding-inline: 4px;
  }

  .specials123 button[type="submit"] {
    display: inline-block;


    background-color: #fff ;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    cursor: pointer;
  }

  .specials123 button[type="submit"]:hover {
    display: inline-block;
    background-color: var(--clr-primary);
    color: #fff;
    cursor: pointer;
  }

  .specials123 button[type="button"] {
    display: inline-block;
    background-color: var(--clr-primary);
    color: #fff;
    cursor: pointer;
  }


  
/* Style the dropdown container */
.dropdown {
    position: relative;
}

/* Style the dropdown menu */
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    overflow: hidden;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.dropdown .dropdown-menu > a{
    color: red;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Style the dropdown menu items */
.dropdown-menu li {
    padding: 10px;

}

.dropdown-menu li:hover {
    background: #C1B086;
    color: #000 ;
}
.dropdown-menu li:hover a {
    color: #000 ;
}
/* Style the dropdown menu links */
.dropdown-menu a {
    text-decoration: none;
    color: #333 ;
    display: block;
}

